<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
        <a 
            class="list-group-item 
            {% if '/accounts/' == request.path %}active{% endif %}" 
            href="{% url 'dashboard-page' %}"
        > Tableau de Bord </a>

        <a 
            class="list-group-item 
            {% if '/my-orders/' in request.path %}active{% endif %}" 
            href="{% url 'my-orders-page' %}"
        > Mes commandes </a>
        
        <a 
            class="list-group-item
            {% if '/edit-profile/' in request.path %}active{% endif %}" 
            href="{% url 'edit-profile-page' %}"
        > Editer mon profil </a>

        <a 
            class="list-group-item
            {% if '/change-password/' in request.path %}active{% endif %}" 
            href="{% url 'change-pwd-page' %}"
        > Modifier le mot de passe </a>
    </ul>
    <br>
    <a class="btn btn-outline-danger btn-block" href="{% url 'logout-page' %}"> 
        <i class="fa fa-power-off"></i> <span class="text">Se déconnecter</span> 
    </a> 
    <!--   SIDEBAR .//END   -->
</aside>

